<div class="motto">
  <div class="row">
    <div class="col-sm-6 mt-3">
      <div class="card text-dark">
        <div class="card-body">
          <h5 class="card-title">Add Pet Owner Profile</h5>
          <p class="card-text">Here you can setup a new profile as a pet owner and include your 4 paws best friends.</p>
          <a href="/ownerSignup" class="btn btn-primary">Add owner profile</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-3">
      <div class="card text-dark">
        <div class="card-body">
          <h5 class="card-title">Add Pet Sitter Profile</h5>
          <p class="card-text">Here you can signup yourself as a pet sitter and chose the pets you would like to sit.
          </p>
          <a href="/sitterSignup" class="btn btn-primary">Add sitter profile</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 mt-3">
      <div class="card text-dark">
        <div class="card-body">
          <h5 class="card-title">Edit Main Profile</h5>
          <p class="card-text">Here you can see and edit your main user information such as email, phone number and
            zipcode.</p>
          <a href="userProfile/{{user_id}}" class="btn btn-primary">Edit profile</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-3">
      <div class="card text-dark">
        <div class="card-body">
          <h5 class="card-title">See Pets</h5>
          <p class="card-text">Here you can find pets and learn a little bit about their characteristcs and personality.
          </p>
          <a href="/petDashboard" class="btn btn-primary">See pets</a>
        </div>
      </div>
    </div>
  </div>
</div>