<div class="container">
    <section>
        <form class="ownerSignup-form mt-3">
            <h4>PET OWNER SIGNUP</h4>
            <div class="form-group">
                <label for="hosting-signup">Hosting Preference</label>
                <input type="text" class="form-control" id="hosting-signup" placeholder="Enter Hosting Preference">
            </div>
            <div class="form-group">
                <label for="bio-signup">Bio</label>
                <input type="text" class="form-control" id="bio-signup" placeholder="Enter Bio">
            </div>
            <div class="form-group">
                <label for="socials-signup">Social Media Account</label>
                <input type="text" class="form-control" id="socials-signup" placeholder="Enter Social Media Account">
            </div>
            <div class="form-group">
                <label for="contact-signup">Contact Preference</label>
                <input type="text" class="form-control" id="contact-signup" placeholder="Enter Contact Preference">
            </div>
            <button type="submit" class="btn btn-info btn-lg btn-block btn-signup">Submit</button>
        </form>
    </section>
</div>

<script src="/javascript/ownerSignup.js"></script>